<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script>
      var socket=io();
      $(document).ready(function(){
        $('textarea').html('');
//         $('#click').show();
//         $('#show').hide();
        $('#user').mouseover(function(){
        $('#dropdown-content').css('display','block');
        });
        $('#user').mouseout(function(){
        $('#dropdown-content').css('display','none');
        });
//          var name1=<%= title %>;
//          $('#name1').html(name1);
          $('#boxchat').html('');
//         var name1="";
//         $('#click').on('click',function(e){
//           e.stopImmediatePropagation();
//           e.preventDefault();
//           var text=prompt("Username");
//           if(text!=null)
//           {
            socket.emit('Register','<%- username %>');
//             text=null;
//           }
//         });
//         socket.on('kq',function(kq){
//               if(kq=="fail")
//               {
//                 alert("tên đăng nhập đã tồn tại");
//               }
//               else
//               {
//                 if(kq=="success"){
//                   alert("đăng nhập thành công");
//                   $('#click').hide();
//                   $('#show').show();
//                   $('#name1').html(name1);
//                   $('#boxchat').html('');
                  socket.on('arr',function(arr){
                    $('#useronline').html('');
                    arr.forEach(function(e){
                      $('#useronline').append(e+"\n");
                    })
                  });
//                 }
//               }
//             });
            socket.on('thongbao',function(data){
              var d=new Date();
                var now='('+d.getDay()+'-'+d.getMonth()+'-'+d.getFullYear()
                +' '+d.getHours()+':'+d.getMinutes()+':'+d.getSeconds()+')';
                    $('#boxchat').append(now+' '+data+'\n');
                  });
            socket.on('test',function(msg){
                var d=new Date();
                var now='('+d.getDay()+'-'+d.getMonth()+'-'+d.getFullYear()
                +' '+d.getHours()+':'+d.getMinutes()+':'+d.getSeconds()+')';
                  $('#boxchat').append(now+' '+msg.user+' vừa thoát \n');
                  $('#useronline').html('');
                  msg.useronline.forEach(e=>{
                    $('#useronline').append(e+'\n');
                  })
            });
            //gửi tin nhắn
            socket.on('sever-send-mess',function(data){
              $('#boxchat').append(data.time+' '+data.user+":"+data.text+"\n");
            });

            $('#sendMessage').on('click',function(){
              var text=$('#textMess').val();
              var d=new Date();
              var now='('+d.getDay()+'-'+d.getMonth()+'-'+d.getFullYear()
              +' '+d.getHours()+':'+d.getMinutes()+':'+d.getSeconds()+')';
              socket.emit('client-send-mess',{time:now,text:text,user:$('#name1').text()});
              $('#textMess').val('');
            });
            //event enter
            var input = document.getElementById("textMess");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function(event) {
              // Number 13 is the "Enter" key on the keyboard
              if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("sendMessage").click();
              }
            });
      }); 
        $(document).on('click','#logout',function(e){
          e.stopImmediatePropagation();
          e.preventDefault();
          var user=$('#name1').text();
          socket.emit('logout',user);
          $('#boxchat').html('');
//           $('#click').show();
//           $('#show').hide();
            location.href="/";
        });
    </script>
  </head>
  <body>
<!--     <button id='click'>Đăng ký để chat</button> -->
    <div id='show'>
        <div id='user'>
          <div id="name">Hello <span id="name1"><%= username %></span></div>
          <div id="dropdown-content">
            <a href='#' id='logout'>Logout</a>
          </div>
        </div>
      <div id='left'>
          <p>Danh sách online</p>
          <textarea rows="20" cols="50%" readonly id="useronline">
            </textarea>
      </div>
      <div id='right'>
        <p>Khung chat</p>
        <div>
            <textarea rows="20" cols="100%" readonly id="boxchat">
            </textarea>
          <input type="text" id="textMess">
          <input type="button" id="sendMessage" value="send">
        </div>
      </div>
    </div>
  </body>
</html>
