<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <script language="javascript">
        function validateForm()
        {
            // Bước 1: Lấy giá trị của username và password
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
        
            // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
            if (username == ''){
                alert('Bạn chưa nhập tên đăng nhập');
            }
            else if (password == '')
            {
                alert('Bạn chưa nhập mật khẩu');
            }
            else{
                alert('Dữ liệu hợp lệ, ta có thể chấp nhận submit form');
                return true;
            }
        
            return false;
        }
    </script>
  </head>
  <body>
    <h3>Trang Đăng Nhập</h3>
    <form method="POST" action='/login' onsubmit='return validateForm()'>
        <div>
            <label for="usename">Username:</label>
            <input id="username" type="text" name="id" value="">
        </div>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" value="">
        </div>
        <div>
            <input type="submit" value="Đăng nhập">
            <input type="button" value="Đăng ký" onclick="window.location='/registry';"/>
        </div>
    </form>
</body>
</html>